[Unit]
Description=LedDaemon Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/etc/led/LedDaemon.php

[Install]
WantedBy=multi-user.target
